<div class="relative">
  <section
    style="left: 70%"
    class="from-purple-900 via-purple-800 to-purple-700 bg-blur"
  ></section>
  <section
    style="left: 50%"
    class="w-6/12 from-blue-900 via-blue-800 to-blue-700 bg-blur"
  ></section>
  <!-- <img src="./../../../assets/clock-dynamic-premium.png" alt="" /> -->

  <div class="container mx-auto bg-custom borer-custom">
    <div class="flex flex-col mx-auto mt-14 md:my-28 w-8/12">
      <h1
        class="text-center font-bold tracking-normal text-3xl sm:text-3xl md:text-5xl lg:text-6xl"
      >
        Recevez en temps réel les annonces du monde entier.
      </h1>
      <p class="text-center font-medium text-base sm:text-xl my-6 opacity-70">
        Grâce à Worldwide News consultez en temps réel les anonces mondiales.
        Qu'attendez-vous pour découvrir les news ?
      </p>
      <!-- <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      Button
    </button> -->
      <div class="flex flex-col md:flex-row md:mx-auto">
        <button
          style="margin: 10px"
          class="btn-primary w-full h-12 mx-8 md:w-auto"
        >
          Découvrir les news
        </button>
        <button
          style="margin: 10px"
          class="btn-secondary w-full h-12 mx-8 md:w-auto"
        >
          S'abonner
        </button>
      </div>
    </div>
  </div>
</div>
