<div class="container m-auto py-12">
  <!-- First panel -->
  <div class="flex flex-col md:flex-row">
    <!-- the card image -->
    <div
      class="animate__animated animate__fadeInLeft animate__delay-2s flex mb-8 md:mb-0"
      style="
        background: linear-gradient(
          90deg,
          hsla(252, 40%, 29%, 1) 0%,
          hsla(270, 77%, 71%, 1) 100%
        );
      "
    >
      <img
        style="height: 93%; width: 93%"
        class="m-auto py-6 md:py-0"
        src="./../../../assets/slide-2.png"
        alt=""
      />
    </div>

    <!-- info  -->
    <div
      class="animate__animated animate__fadeInRight animate__delay-2s flex flex-col m-auto px-8"
    >
      <h2
        class="text-center mb-2 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold"
      >
        Recevez les actualités dans différents domaines
      </h2>
      <h3 class="text-center mb-3 font-normal">
        Tels que la politique, le sport, la musique, les finances ...
      </h3>
      <button
        (click)="navigateToNews()"
        style="border-radius: 50%"
        class="btn-secondary w-12 h-12 m-auto rounded-full hover:bg-purple-500 hover:text-white hover:w-24 transition duration-0 hover:duration-500 ease-in-out"
      >
        &rarr;
      </button>
    </div>
  </div>

  <!-- second panel -->

  <div style="border: 2px dashed" class="py-6 my-8 md:my-24">
    <h2 class="text-center mb-2 text-xl sm:text-2xl md:text-3xl font-semi-bold">
      Des annonces dans différents domaines comme
      <span
        class="text-purple-500 dark:text-purple-600 animated-text font-bold"
        >{{ text }}</span
      >
    </h2>
  </div>
</div>
