/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-colors {
  @apply bg-custom text-custom border-custom;
}


// /* Styles pour le mode clair */
// @media (prefers-color-scheme: light) {
//   body {
//     background-color: #fff;
//     color: #2d3748;
//   }
// }

// /* Styles pour le mode sombre */
// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #2d3748;
//     color: #fff;
//   }
// }

// :root {
//   --background-color: #f0f0f0;
//   --text-color: #2d3748;
// }

// /* Mode sombre */
// .dark-mode {
//   --background-color: #2d3748;
//   --text-color: #f0f0f0;
// }

.dark-mode {
  --bg-color: #0d1322;
  --text-color: #dde5e9;
  --border-color: #1a202c;
}

.light-mode {
  --bg-color: #dde5e9;
  --text-color: #111827;
  --border-color: #e2e8f0;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Définition des classes personnalisées pour les éléments spécifiques */
.bg-custom {
  background-color: var(--bg-color);
}

.text-custom {

  color: var(--text-color);
}

.border-custom {
  border-color: (var --border-color) ;
}

