/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-colors {
  @apply bg-custom text-custom border-custom;
}


// /* Styles pour le mode clair */
// @media (prefers-color-scheme: light) {
//   body {
//     background-color: #fff;
//     color: #2d3748;
//   }
// }

// /* Styles pour le mode sombre */
// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #2d3748;
//     color: #fff;
//   }
// }

// :root {
//   --background-color: #f0f0f0;
//   --text-color: #2d3748;
// }

// /* Mode sombre */
// .dark-mode {
//   --background-color: #2d3748;
//   --text-color: #f0f0f0;
// }

.dark-mode {
  --bg-color: #0d1322;
  --text-color: #ebf0f3;
  --border-color: #1a202c;
}

.light-mode {
  --bg-color: #ebf0f3;
  --text-color: #111827;
  --border-color: #e2e8f0;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Définition des classes personnalisées pour les éléments spécifiques */
.bg-custom {
  background-color: var(--bg-color);
}

.text-custom {

  color: var(--text-color);
}

.border-custom {
  border-color: (var --border-color) ;
}

.btn-primary {
  @apply py-2 px-4 bg-purple-500 text-white font-semibold rounded-lg shadow-md hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-50;
}
.btn-secondary {
  @apply py-2 px-4 bg-transparent text-purple-500 font-semibold rounded-lg border-solid border-2 border-purple-500  hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-50;
}

// :root {
//   --primary-bg-color: #6b46c1;
//   --primary-text-color: #fff;
//   --primary-hover-color: #805ad5;
//   --primary-focus-color: #6b46c1;
//   --primary-ring-color: rgba(107, 70, 193, 0.5);
//   --primary-border-color: #6b46c1;
//   --primary-dark-bg-color: #4c1d95;
//   --primary-dark-text-color: #fff;
//   --primary-dark-hover-color: #633db9;
//   --primary-dark-focus-color: #4c1d95;
//   --primary-dark-ring-color: rgba(76, 29, 149, 0.5);
//   --primary-dark-border-color: #4c1d95;
// }

// .btn-primary {
//   @apply py-2 px-4 font-semibold rounded-full shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-ring-color;

//   background-color: var(--primary-bg-color);
//   color: var(--primary-text-color);
//   border-color: var(--primary-border-color);

//   &:hover {
//     background-color: var(--primary-hover-color);
//   }

//   &:focus {
//     background-color: var(--primary-focus-color);
//   }

//   &:active {
//     background-color: var(--primary-focus-color);
//   }

//   @media (prefers-color-scheme: dark) {
//     background-color: var(--primary-dark-bg-color);
//     color: var(--primary-dark-text-color);
//     border-color: var(--primary-dark-border-color);

//     &:hover {
//       background-color: var(--primary-dark-hover-color);
//     }

//     &:focus {
//       background-color: var(--primary-dark-focus-color);
//     }

//     &:active {
//       background-color: var(--primary-dark-focus-color);
//     }

//     @apply dark:focus:ring-primary-dark-ring-color;
//   }
// }
