<app-navbar></app-navbar>
<div class="container mx-auto mt-24">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <p class="text-sm text-slate-500 dark:text-slate-400">
    Enter your email address.
  </p>
  <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
    Taxing Laughter: The Joke Tax Chronicles
  </h1>

  <code
    class="relative rounded bg-slate-100 py-[0.2rem] px-[0.3rem] font-mono text-sm font-semibold text-slate-900 dark:bg-slate-800 dark:text-slate-400"
  >
    @radix-ui/react-alert-dialog
  </code>

  <p class="font-sans">Ceci est un texte avec la police Inter.</p>
  <p class="font-secondary">Ceci est un texte avec la police Clash Display.</p>

  <!-- On: "bg-indigo-600", Off: "bg-gray-200" -->
  <!-- <span
  aria-checked="false"
  class="bg-gray-200 relative inline-block flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline"
  role="checkbox"
  tabindex="0"
>
</span> -->
  <button class="bg-primary text-white dark:bg-primary-dark dark:text-white">
    Cliquez ici
  </button>

  <p class="text-slate-500 dark:text-red mt-2 text-sm">
    The Zero Gravity Pen can be used to write in any orientation, including
    upside-down. It even works in outer space.
  </p>

  <p class="text-slate dark:text-red">Contenu du paragraphe</p>

  <p class="text-slate-500 dark:text-slate-400 mt-2 text-sm text-custom">
    The Zero Gravity Pen can be used to write in any orientation, including
    upside-down. It even works in outer space.
  </p>
</div>
